@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,400;0,500;0,600;1,300;1,400;1,500&family=Poppins:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    overflow-x: hidden;
}
header{
    position: sticky;
}
header.navbar-header{
    display: flex;
    padding: 10px 50px;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    box-shadow: 0 5px 15px #4024df;
}
.logo-title{
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: .12rem;
    color: #4024df;
}
.navigation-menu{
    width: 60%;
    align-items: center;
}
ul.navigations{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    z-index: 1000;
}

ul.navigations li a{
    text-decoration: none;
    margin: 0 10px;
    font-weight: 500;
    text-transform: uppercase;
    position: relative;
    font-size: 1.2rem;
}
ul.navigations li a::before{
    content: "";
    position: absolute;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: #4024df;
    scale: 0;
    left: 0;
    transition: 0.5s ease-in-out;
}
ul.navigations li a:hover::before{
    scale: 1;
}
.buttons{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 10px;
}
.close-btn,.menu,.search-btn{
    font-size: 1.8rem;
    cursor: pointer;
    color: #4024df;
    margin: 0 15px;
}
.close-btn,.menu{
    display: none;
    position: absolute;
    top: 30px;
    right: 0;

}
.login-btn{
    padding: 10px 20px;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
    background-color: #4024df;
    color: #fff;
}
.login-btn:hover{
    background-color: #5a42e2;
}
@media(max-width:1130px){
    .close-btn,.menu{
        display: inline-block;
    }
    .close-btn{
        color: #fff;
    }
    .logo{
        text-align: center;
    }
    .logo-title{
        font-size: 1.1rem;
        letter-spacing: .1rem;
        text-align: center;
    }
   ul.navigations{
    position: absolute;
    left: 100%;
    top: 80px;
    opacity: 0;
    visibility: hidden;
    left: 0;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    min-height: calc(100vh - 80px);
    padding: 60px;
    border-top: 1px solid #4346f0;
    transition: .2s ease-in-out;
    background: #4024df;
}
ul.navigations li{
    margin: 20px 0;
}
ul.navigations li a{
    color: #fff;
}
.navigations.active{
    opacity: 1;
    visibility: visible;
    justify-content: center;
    align-items: center;
}
}
.hide{
    display: none;
}

.search-form{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0%;
    top: 0;
    left: 0;
    display: none;
    transition: .5s ease-in-out;
}
.search-form.active{
    width: 100%;
    display: block;
}
.search-form input{
    position: relative;
    width: 100%;
    border: none;
    outline: none;
    height: 80px;
    font-size: 1.25em;
    background-color: #fff;
    border-bottom: 1px solid #4346f0;
    padding: 0 100px 0 50px;
}
.search-submit-btn{
    top: 20px;
    right: 50px;
    position: absolute;
    padding: 5px 5px;
    border-radius: 50%;
    display: flex;
    margin: 0 10px;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
    background-color: #4024df;
    color: #fff;
    font-size: 1.5rem;
}
.close-search-btn{
    top: 20px;
    right: 10px;
    position: absolute;
    padding: 5px 5px;
    border-radius: 50%;
    display: flex;
    margin: 0 10px;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
    background-color: #cdcada;
    color: #fff;
    font-size: 1.5rem;
}
section.navbar{
    position: fixed;
}