@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
section.news-navbar{
    padding: 20px 5%;
    display: flex;
    justify-content: flex-start;
    background-color: #e2e0e0;
}
section.news-navbar .news-menu a{
    text-decoration: none;
    margin: 20px;
    padding: 5px 10px;
    font-size: 1em;
    border-radius: 10px;
}
.news-menu a.active{
    background-color: #0e10af;
    color: #fff;
}
.news-menu a:hover{
    background-color: #0e10af;
    color: #fff;
}
section.news .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
section.news .row h1{
    width: 100%;
    text-align: center;
    font-size: 2.5em;
    font-weight: 600;
    margin: 0.6em 0;
    color: #1a1d86;
}
.column{
    padding: 1em;

}
.card{
    padding: 3.1em 1.25em;
    text-align: center;
    background: linear-gradient(0deg, #0e10af 10px, transparent 10px);
    background-position: 0 0.62em;
    box-shadow: 0 0 2.5em rgba(0, 0, 0, 0.15);
    background-repeat: no-repeat;
    border-radius: 0.5em;
    transition:0.5s ;
    scale: 0.95;
    cursor: pointer;
}
.card:hover{
    scale: 1;
}
/* .card .icon{
    font-size: 2.5em;
    height: 3em;
    width: 3em;
    margin: auto;
    display: grid;
    place-items: center;
    border-radius: 50%;
    color: #fff;
} */
.icon img{
    width: 250px;
    height: auto;
    border-radius: 10px;
}
.card h3{
    font-size: 1.3em;
    margin: 1em 0 1.4em 0;
    font-weight: 600;
    letter-spacing: 0.3px;
    color: #0e10af;
}
.card p{
    line-height: 2em;
    color: #0e10af;
}
.news-btn{
    padding: 10px 20px;
    background-color: #0e10af;
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    border-radius: 10px;
    transition: .3s ease-in-out;
}
.news-btn:hover{
    background-color: #3c22d1;
}
.social-media-platform{
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-media-platform a{
    text-decoration: none;
    font-size: 1em;
    border-radius: 50%;
    display: inline-flex;
    margin: 10px;
    padding: 5px;
    transition: .3s ease;
}
.social-media-platform a:hover{
    border: none;
    transform: translate(1.3);
}
.facebook{
    background-color: #1a1d86;
    color: #fff;
}
.whatsapp{
    color: #fff;
    background-color: #4cf14c;
}
.twitter{
    color: #fff;
    background-color: #1DA1F2;
}
@media screen and (min-width:768px) {
    section.news{
        padding: 1em 7em;
    }
}
@media screen and (max-width:768px) {
    section.news .row h2{
        font-size: 3em;
    }
}
@media screen and (min-width: 992px) {
    section.news{
        padding: 1em;
    }
    .card{
        padding: 5em 2em;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .column{
        width: 100%;
        padding: 1em;
    }
    .icon img{
        width: 350px;
        height: auto;
        margin-right: 20px;
    }
}
@media(max-width:1340px){
    section.news-navbar .news-menu a {
        margin: 5px;
    }
}
@media(max-width:1080px){
    section.news-navbar {
        padding: 20px 2%;
        display: flex;
    }
}
@media(max-width:1015px){
    section.news-navbar{
        justify-content: center;
    }
   .news-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   }
}